@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Color presets
$color-black: #000;
$color-white: #fff;
$color-grey: #f7f7f7;
$color-grey--darker: #cccccc;

$color-primary: #253b82;
$color-secondary: #1fb64f;
$color-tertiary: #ea5b1b;

// Font families
$font-body: "Poppins", sans-serif;
$font-body-size: "15px";

// Media queries
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
) !default;

@mixin media-breakpoint-up($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin media-breakpoint-down($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

// Background
@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
