@import "config";

.c_monitor {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 650px;
  background: $color-white;
  padding: 24px;
  border: 1px solid $color-grey--darker;
  border-radius: 5px;
  box-sizing: border-box;
  z-index: 999;

  &__title {
    font-weight: 600;
    text-transform: uppercase;
  }

  &__progress {
    margin-top: 16px;

    &__bar {
      width: 0%;
      height: 3px;
      background: $color-primary;
      transition: width 0.2s ease-in-out;
    }

    &__number {
      font-weight: 500;
      margin-top: 8px;
    }
  }

  &__stats {
    margin-top: 16px;

    table {
      width: 100%;
      border: 1px solid $color-grey--darker;
      border-collapse: collapse;

      th,
      td {
        width: 50%;
        text-align: left;
        padding: 8px;
        border: 1px solid $color-grey--darker;
      }

      tr {
        &:nth-child(even) {
          background: $color-grey;
        }
      }
    }
  }
}
