@import "config";

body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: $font-body;
  font-size: $font-body-size;
}

// The wrapper containing the chatbot element
.c_wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.c_chatbot {
  background: $color-white;
  border: 1px solid $color-primary;
  border-bottom: none;
  padding: 20px;
  border-radius: 5px 5px 0 0;
  max-width: max-content;
  font-weight: 500;
  margin-right: 42px;
  color: $color-primary;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;

  &:hover {
    color: $color-white;
    background: $color-primary;

    .c_chatbot--highlight {
      color: $color-white;
    }

    .c_chatbot--trigger {
      top: -30px;
      opacity: 1;
    }
  }

  &--highlight {
    color: $color-secondary;
    font-weight: 700;
  }

  &--trigger {
    color: $color-black;
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 0.8em;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
}

// Different sections with different backgrounds
.c_section {
  height: 100%;

  &:nth-child(1) {
    background: $color-grey;
  }

  &:nth-child(2) {
    background: $color-grey--darker;
  }
}
