@import "config";

body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: $font-body;
  font-size: $font-body-size;
}

// !!! This is just the call to action, actual chatbot needs to be a different element.
.c_chatbot {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  @include media-breakpoint-down("md") {
    display: none;
  }

  &-cta {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: $color-tertiary;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.22);
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    &-col {
      max-width: max-content;
    }

    // The Biri logo
    &-icon {
      margin-top: 12px;
      svg {
        width: 60px;
        height: 60px;
        transition: all 0.2s ease-in-out;

        path:nth-child(1) {
          stroke: $color-white;
        }

        path:nth-child(2) {
          fill: $color-white;
        }
      }
    }

    // The question displayed in the CTA
    &-slug {
      min-width: 326px;
      margin-left: 24px;
      text-transform: uppercase;
      font-weight: 800;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      color: $color-tertiary;
    }

    // Active state for the CTA
    &-active {
      background: $color-white;
      width: 450px;
      transition: all 0.2s ease-in-out;

      // Icon styling
      .c_chatbot-cta-icon {
        svg {
          path:nth-child(1) {
            stroke: $color-black;
            stroke-dasharray: 300;
            stroke-dashoffset: 300;
            animation: dash 5s linear infinite;
          }

          path:nth-child(2) {
            fill: $color-black;
          }
        }
      }

      .c_chatbot-cta-slug {
        opacity: 1;
      }
    }
  }
}

// Animations
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 400;
  }
}

// Empty content container
.c_section {
  width: 100%;
  height: 100vh;
  background: $color-grey;

  // Set different backgrounds
  &:nth-child(even) {
    background: $color-grey--darker;
  }
}
