@import "config";

body {
}

.c_userlog {
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    width: 800px;
    height: auto;
    background-color: red;
    color: white;
    padding-bottom: 15px;



      &-progressbar {
          height: 100px;
        //   background-color: green;
      }

      &-pagetable {
          height: 200px;
        //   background-color: grey;
      }
  }


  .ldBar-label {
      margin-top: 0px;
      color: white;
      text-align: center;
  }


